@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 61vh;
    
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo img{
    width: 110px;
}

.chapters-head {
    display: inline-flex;
    text-decoration: none;
    color: white;
    background-color: rgba(118,88,168,255);
    border: none;
    padding: 25px 64px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}

.chapters-head:hover {
    background: darkorchid;
    transition: 1s;
}

.navbar a {
    position: relative;
    font-size: 20px;
    color: rgba(118,88,168,255);
    font-weight: 500px;
    text-decoration: none;
    margin-left: 70px;
}


.navbar a::before {
    content: '';
    position: absolute;
    top: 130%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgba(66,102,178,255);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.background img{
    width: 100%;
    margin-top: 50px;

}

footer {
    width: 100%;
    position: absolute;
    bottom: 100;
}
footer .container{
    background-color: black;
}

.row{
    display: flex;
    justify-content:space-around;
    padding: 40px 100px;
}

.footer-col ul{
    list-style: none;
    
}
    
.footer-col h4{
    color: white;
    margin-bottom: 24px;
    font-size: 22px;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.footer-col h4::before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: rgba(118,88,168,255);
    bottom: -10px;
}

.footer-col ul li{
    padding: 10px 0;
}

.footer-col ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-col ul li a:hover{
    opacity: 1;
}

.footer-col .donAndSpon{
    padding: 0px 20px;
    background-color: rgba(118,88,168,255);
    border: none;
    color: white;
    transition: 0.3s;
}

.footer-col .donAndSpon:hover{
    background-color: darkorchid;
}


.footer-col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
}

.footer-col .inputSubmit{
    padding: 0px 20px;
    background-color: rgba(118,88,168,255);
    border: none;
    color: white;
    transition: 0.3s;
}

.footer-col .inputSubmit:hover{
    background-color: darkorchid;
}

.col p{
    color: white;

}

.row .socialIcons i{
    display: inline-block;
    color: white;
    opacity: 0.7;
    font-size: 20px;
    margin: 0 15px;
    transition: 0.5s;
}

.row .socialIcons i:hover{
    color: rgba(118,88,168,255);
    opacity: 1;
}

@media (max-width: 600px){
    footer .row{
        flex-direction: column;
        padding: 20px 30px;
    }

    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .footer-col input{
        width: 100%;
    }
}

.event-container {
    display: grid;
    gap: 20px;
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 100px;
}

.event-box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px 30px;
    background-color: #f9f9f9;
    display: flex;
    
}

.event-box:hover {
    border: 2px solid darkorchid;
    border-radius: 20px;
    transition: .38s ease;
    transform: translateY(-10px);
    padding: 25px 30px;
    background-color: #f9f9f9;
}

.eventImg img {
    padding-left: 30px;
    width: 250px;
    height: auto;
    border-radius: 20px;
}

.event-container a {
    text-decoration: none;
}

.event-container h2 {
    padding-top: 15px;
    color: darkorchid;
}

.event-container p {
    padding-top: 10px;
    line-height: 1.5;
    color: black;
}


.hero {
    width: 100%;
    color: white;
    position: relative;
    top: 40%;
    transform: translate(0, 0);
    text-align: left;
    margin-top: -1150px;
    padding-left: 400px;
    padding-right: 400px;

}

.hero h1 {
    font-size: 62px;
}

.hero p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
    line-height: 1.5;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 19px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid rgba(118,88,168,255);
    background: rgba(118,88,168,255);
    transition: 1s;
}

/*----- about -----*/

.about {
    width: 70%;
    margin: auto;
    text-align: left;
    padding-top: 500px;
    padding-bottom: 100px;

}



.about h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgba(118,88,168,255);
}

.about p {
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about .imgText {
    display: flex;

}

.about-btn {
    display: inline-flex;
    text-decoration: none;
    color: white;
    background-color: rgba(118,88,168,255);
    border: none;
    padding: 25px 64px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}

.about-btn:hover {
    background: darkorchid;
    transition: 1s;
}

.about img {
    width: 900px;
    padding-left: 200px;
    height: auto;
    border-radius: 20px;
}

/*---Chapters---*/

.chapters {
    padding: 50px 300px;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: lightgrey;
    width: 100%;

}

.chapters h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgba(118,88,168,255);
}

.chapters p {
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.chapters .imgText {
    display: flex;

}

.chapters-btn {
    display: inline-flex;
    text-decoration: none;
    color: white;
    background-color: rgba(118,88,168,255);
    border: none;
    padding: 25px 64px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}

.chapters-btn:hover {
    background: darkorchid;
    transition: 1s;
}

.chapters-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.chapters-col img{
    width: 100%;
    border-radius: 10px;
}

.chapters-col h3 {
    text-align: center;
    color: rgba(66,102,178,255);
}

/*----- STEM Showdown -----*/

.STEMShowdown {
    padding: 50px 300px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(imgs/vecteezy_abstract-technology-futuristic-glowing-blue-and-purple-light_11351207.jpg);
    background-size: cover; /* Adjusts the image size to cover the entire container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */

}

.STEMShowdown h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgba(118,88,168,255);
}

.STEMShowdown p {
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.STEMShowdown .imgText {
    display: flex;

}

.STEMShowdown-btn {
    display: inline-flex;
    text-decoration: none;
    color: white;
    background-color: rgba(118,88,168,255);
    border: none;
    padding: 25px 64px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}

.STEMShowdown-btn:hover {
    background: darkorchid;
    transition: 1s;
}

.STEMShowdown img {
    width: 900px;
    padding-left: 200px;
    height: auto;
    border-radius: 20px;
}

/*---STEMchats---*/

.STEMchats {
    padding: 50px 300px;
    width: 100%;
    margin: auto;
    text-align: right;
    padding-top: 100px;
    padding-bottom: 50px;
    
}

.STEMchats h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgba(118,88,168,255);
}

.STEMchats p {
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.STEMchats .imgText {
    display: flex;

}

.STEMchats-btn {
    display: inline-flex;
    text-decoration: none;
    color: white;
    background-color: rgba(118,88,168,255);
    border: none;
    padding: 25px 64px;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    border-radius: 30px;
}

.STEMchats-btn:hover {
    border: 1px solid darkorchid;
    background: darkorchid;
    transition: 1s;
}

.STEMchats img {
    width: 400px;
    height: auto;
    margin-left: -50px;
}

